body{
    background-color: rgba(255, 166, 0, 0.389);
    button{
        padding: 16px 24px;
        margin: 16px;
        font-size: 14px;
        border-radius: 6px;
        border: none;
        color:white;
        &:nth-child(1){
            background-color: green;
        }
        &:nth-child(2){
            display: none;
            background-color: red;
        }
        &:nth-child(3){
            background-color: orange;
        }
    }
} 


form{
    display: flex;
    div{
        display: grid;
        margin: 8px 16px;
    }
    label{
        color: blueviolet;
        font-weight: 600;
        font-size: large;
        margin-bottom: 12px;
    }
    input[type="number"]{
        padding:8px;
        width: 60px;
        height: 30px;
        border-radius: 6px;
        border: none;
    }
}